html,
body,
root {
  height: 100%;
  width: 100%;
  margin: 0;
}

ul {
  list-style: none;
}

ul li {
  background: url("src/assets/babiole.png") no-repeat;
  padding-left: 30px;
  background-size: 20px 20px;
  line-height: 20px;
  margin-bottom: 10px;
  list-style: none;
}
.textDoner {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
}

.input2-group {
  position: relative;
}

.input2 {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
  outline: none;
  border: 1.5px solid #d35448;
}

.input:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #212121;
  padding: 0 0.2em;
  color: #d35448;
}

.reinitializer {
  position: fixed;
  bottom: 0;
}

.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100px;
  padding: 22px 33px;
  font-family: "Lobster", cursive;
  font-size: 26px;
  line-height: 26px;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  background: #5e0d0c;
  outline: none;
  border-radius: 15px;
  border: 1px solid #4c0300;
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.25),
    /* highlight */ inset 0 0 6px #a23227,
    /* inner glow */ inset 0 80px 80px -40px #ac3223,
    /* gradient */ 1px 1px 3px rgba(0, 0, 0, 0.75); /* shadow */

  position: relative;
  overflow: visible; /* IE9 & 10 */
  -webkit-transition: 500ms linear;
  -moz-transition: 500ms linear;
  -o-transition: 500ms linear;
  transition: 500ms linear;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: -3px;
  right: 0;
  height: 23px;

  .button:hover {
    background: #a61715;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), 0 0 40px #fff;
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.25),
      /* highlight */ inset 0 0 6px #da3b2c,
      /* inner glow */ inset 0 80px 80px -40px #dd4330,
      /* gradient */ 1px 1px 3px rgba(0, 0, 0, 0.75); /* shadow */
  }
  .button:focus {
    outline: none; /*FF*/
  }
  .button:active {
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.25),
      /* highlight */ inset 0 0 6px #da3b2c,
      /* inner glow */ inset 0 80px 80px -40px #dd4330,
      /* gradient */ 0px 1px 0px rgba(255, 255, 255, 0.25); /* shadow */

    -webkit-transition: 50ms linear;
    -moz-transition: 50ms linear;
    -o-transition: 50ms linear;
    transition: 50ms linear;
  }
}
