.Calender-div{
    width: 50rem;
    height: 70rem;
   /*margin-top: 8rem;*/
}
.calender-container{
    height: 100%;
}
.img1{
    width: 100%;
}
.react-calendar{
    width: 80%;
    margin-left: 2.5rem;
}
.update-event{
    text-decoration: none;
    color: rgb(215, 4, 102);
    font-size: x-large;
}
.update-event{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.list-evenement{
   /*margin-top: 8rem;*/
   display: flex;
    justify-content: flex-start;
    width: 30%;
    flex-direction: column;
}
.Ul-list{
    text-decoration: none;
    list-style: url('/secret-santa/src/images/vector.jpeg');
}
li{
    text-decoration: none;
    color: rgb(215, 4, 102);
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: url('/secret-santa/src/images/vector.jpeg');

}

.Calender-div2{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.input-evenement{
    width: 60%;
    height: 4rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    margin-top: 2rem;
    color: white;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.input-update{
    margin: 2rem;
    width: 60%;
    height: 2rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    margin-top: 2rem;
    color: white;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Button-evenement{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;

}
.Calendar-title{
    color: rgb(227, 28, 95);
}
.List-title{
    color: rgb(227, 28, 95);
}
.Edit{
margin: 1rem;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    :hover {
        background-color: #2c974b;
        border-color: #1b1f2326;
        transition-duration: 0.1s;
    }

}
.Delete{
    display: inline-block;
    margin: 1rem;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    :hover {
        background-color: #2c974b;
        border-color: #1b1f2326;
        transition-duration: 0.1s;
    }

}
.Update{
    height: 2rem;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    :hover {
        background-color: #2c974b;
        border-color: #1b1f2326;
        transition-duration: 0.1s;
    }

}